:root {
  font-family: mortalkombat, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mortalkombat, sans-serif;
  min-height: 100vh;
  background-color: #000;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: mortalkombat;
  src: url("./assets/mortalkombat2.ttf");
}
